<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/album-details.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="preconnect" href="https://rsms.me/">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <div class="wrapper">
        <%- include('partials/header') %>

            <main>
                <div class="album-grid">
                    <div class="album-header">
                        <img src="<%= album.cover_url %>" alt="<%= album.title %>">
                        <h2>
                            <%= album.title %>
                        </h2>
                        <p>
                            <%= album.artist_name %>
                        </p>
                        <p>
                            <%= album.release_year %>
                        </p>
                    </div>

                    <div class="tracks-list">
                        <% tracks.forEach(track=> { %>
                            <div class="track-row">
                                <div class="track-number">
                                    <%= track.track_number %>
                                </div>

                                <div class="track-info">
                                    <span class="track-title">
                                        <%= track.title %>
                                    </span>
                                </div>

                                <div class="track-album">
                                    <%= album.title %>
                                </div>

                                <div class="track-duration">
                                    <%= Math.floor(track.duration / 60) %>:<%= ("0" + (track.duration % 60)).slice(-2)
                                            %>
                                </div>

                            </div>
                            <% }) %>
                    </div>
                </div>
            </main>
    </div>

</body>

</html>