<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="preconnect" href="https://rsms.me/">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <div class="wrapper">
        <%- include('partials/header') %>

            <main>
                <section class="hero">
                    <div class="hero-content">
                        <h1>Welcome to My Music Library</h1>
                        <p>Explore albums, artists, and more.</p>
                    </div>
                </section>

                <h2>Recent Releases</h2>

                <div class="album-grid">
                    <% albums.forEach(album=> { %>
                        <div class="album-card">
                            <a href="/albums/<%= album.album_id %>"><img src="<%= album.cover_url %>"
                                    alt="<%= album.title %>">
                                <h3>
                                    <%= album.title %>
                                </h3>
                                <p>
                                    <%= album.artist_name %>
                                </p>
                                <p>
                                    <%= album.release_year %>
                                </p>
                            </a>
                        </div>
                        <% }); %>
                </div>
            </main>

    </div>

</body>

</html>